# URL da API do Back-end local
# VITE_API_URL=http://localhost:3000

# URL do Socket local
# VITE_SOCKET_URL=http://localhost:3000


# URL da API do Back-end de produção
# VITE_API_URL=https://backend-main-412027788376.southamerica-east1.run.app

# URL do Socket de produção
# VITE_SOCKET_URL=https://backend-main-412027788376.southamerica-east1.run.app


# URL da API do Back-end da release atual
# VITE_API_URL=https://backend-release-entrega-23-04-412027788376.southamerica-east1.run.app

# URL do Socket da release atual
# VITE_SOCKET_URL=https://backend-release-entrega-23-04-412027788376.southamerica-east1.run.app